---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualidad",
    title: "Full Stack Developer",
    company: "Freelance",
    description:
      "Javascript avanzado, estructura de datos y algoritmos | Manipulación del DOM y diseño con CSS | Tecnologías modernas: ES6, React y Redux | Desarrollo Back-end con Node.js y Express | Manejo eficiente de bases de datos SQL con Sequelize | Implementación de promesas y creación de servidores web | Pruebas efectivas en proyectos.",
  },
  {
    date: "2021 - 2023",
    title: "Co-Fundador",
    company: "AINA",
    description:
      "Co-fundador y operador de un emprendimiento comercial de venta al público enfocado en alimentos y productos saludables. Gestión y operación diaria del local, incluyendo ventas, adquisiciones de productos y atención al cliente. Desarrollo de estrategias de marketing y promoción para aumentar la visibilidad y las ventas del negocio.",
  },
  {
    date: " 2019 - 2020",
    title: "Contador / Administrador",
    company: "San Miguel Global PWC",
    description:"Analista de Cuentas a Pagar. Análisis y conciliación de cuentas, confeccion de informes de gestión, mejoras y automatización de procesos",
  },
  {
    date: "2016 - 2018",
    title: "Contador / Administrador",
    company: "PWC",
    description:"Auditor Externo. Revisión de balances bajo normas locales e IFRS. Relevamiento de documentación y coordinación de inventarios. Uso de herramientas de gestión: Aura y SAP",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
