---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Full Stack Developer",
    company: "",
    description:
      "Javascript avanzado, estructura de datos y algoritmos | Manipulación del DOM y diseño con CSS | Tecnologías modernas: ES6, React y Redux | Desarrollo Back-end con Node.js y Express | Manejo eficiente de bases de datos SQL con Sequelize | Implementación de promesas y creación de servidores web | Pruebas efectivas en proyectos.",
  },
  {
    date: "Ene 2021 - Jul 2023",
    title: "Co-Fundador",
    company: "AINA",
    description:
      "Co-fundador y operador de un emprendimiento comercial de venta al público enfocado en alimentos y productos saludables. Gestión y operación diaria del local, incluyendo ventas, adquisiciones de productos y atención al cliente. Desarrollo de estrategias de marketing y promoción para aumentar la visibilidad y las ventas del negocio.",
  },
  {
    date: "Mar 2013 - Dic 2020",
    title: "Contador / Administrador",
    company: "",
    description:"Durante este período pase por varias empresas multinacionales desarrollando mi perfil como Auditor Externo, Analista de Cuentas a Pagar y Gerente Administrador de Negocio Retail.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
