---
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <!-- <a href="/#sobre-mi" class="hover:underline hover:scale-110 me-4 md:me-6"
      >Sobre mí</a
    > -->

    <a
      id="contacto"
      href="mailto:famularifranco@gmail.com"
      class="hover:underline hover:scale-110">Contacto</a
    >
    <div class="flex hover:scale-110">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-phone mr-1"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
        ></path></svg
      >
      <a
        href="https://wa.me/+5491167678618"
        class="hover:underline"
        target="_blank"
      >
        +54 9 11 67678618</a
      >
    </div>
    <a
      href="https://www.linkedin.com/in/franco-famulari-25b2b9127/"
      target="_blank"
      class="hover:underline hover:scale-110">Franco Famulari</a
    >
  </div>
</footer>
